body{
    background: linear-gradient(to right,#131313 0%,#1fa2ff 100%);
}
header {
    background-color: beige;
    color: white;
    padding: 20px;
    font-size: 26px;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}